@using MudBlazor.Services

<MudContainer MaxWidth="MaxWidth.Small">
    <MudLink Href="@Link" Target="_blank" Underline="Underline.None">
        <div class="image-ad-wrapper">
            <div class="image-with-label">
                <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert>
                    <MudImage Src="@MobileImagePath" Fluid="Fluid" Alt="@ImageAlt" Class="@Class" loading="lazy" />
                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <MudImage Src="@DesktopImagePath" Fluid="Fluid" Alt="@ImageAlt" Class="@Class" loading="lazy" />
                </MudHidden>
                <div class="image-ad-label">Sponsor reklame</div>
            </div>
        </div>
    </MudLink>
</MudContainer>

@code
{
    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public required string Link { get; set; }

    [Parameter, EditorRequired]
    public required string MobileImagePath { get; set; }

    [Parameter, EditorRequired]
    public required string DesktopImagePath { get; set; }

    [Parameter, EditorRequired]
    public required string ImageAlt { get; set; }

    [Parameter]
    public bool Fluid { get; set; } = true;

    protected override void OnInitialized()
    {
        JordnaerMetrics.SponsorAdViewCounter.Add(1, new KeyValuePair<string, object?>("link", Link));
    }
}
