@page "/"
@using MudExtensions.Enums
@attribute [Layout(typeof(LandingPageLayout))]

<MudPage FullScreen="FullScreen.Full" Row="7" Column="5" Height="2450px" Style="background: var(--mud-palette-background-grey)">
    @* DESKTOP *@
    <MudHidden Breakpoint="Breakpoint.SmAndDown">

        <MudSection Row="1" ColSpan="2" Column="1" Class="hero-section">
            <MudImage Height="250" Src="/images/minimoeder_logo.png"/>
        </MudSection>

        <MudSection Row="1" ColSpan="2" Column="4" Class="hero-section">
            <MudToolBar Style="@($"color: {JordnaerPalette.Header}; font-size: 24px; overflow: hidden")">
                <MudNavLink Href="/posts" Class="d-md-none d-lg-flex">OPSLAG</MudNavLink>
                <MudNavLink Href="/auth/login" Class="hero-navbar-underline">VÆR' MED</MudNavLink>
                <MudNavLink Href="/groups">GRUPPER</MudNavLink>
            </MudToolBar>
        </MudSection>

        <MudSection Row="2" Column="1" ColSpan="5" Style="@($"background: {JordnaerPalette.DimBackground}")"/>

        <MudSection Row="1" Column="2" ColSpan="3" RowSpan="2" Class="hero-section">
            <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="0">
                <MudImage Height="400" Class="hero-clip-path-image-1" Src="/images/nathan-dumlao-P5MXtYfgmmw-unsplash.jpg"/>
                <MudText Class="font-cherry-bomb-one" Style="@($"color: {JordnaerPalette.Secondary}; font-size: 48px")">Velkommen</MudText>
                <MudText Style="@($"color: {JordnaerPalette.Header}; font-size: 24px")">Til dit online mødested for børnefamilier</MudText>
            </MudStack>
        </MudSection>

        @* New Section 1: Mød en ligesindet forælder i nærheden *@
        <MudSection Row="3" ColSpan="5" Class="flex-row-reverse hero-section">
            <MudImage Src="https://unsplash.com/photos/your-image-id-1" Width="300" />
            <div>
                <MudText Class="font-cherry-bomb-one" Style="@($"color: {JordnaerPalette.Primary}; font-size: 36px")">
                    Find en legeaftale i dit nærområde
                </MudText>
                <MudText>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Praesent elementum nibh mauris. Morbi bibendum commodo faucibus.
                    Proin laoreet auctor erat. Duis vel mi euismod, finibus ex ut, sollicitudin diam.
                </MudText>
                <MudNavLink Href="/users">Lær mere</MudNavLink>
            </div>
        </MudSection>

        @* New Section 2: Find eller skab en gruppe i nærheden *@
        <MudSection Row="4" ColSpan="5" Class="flex-row hero-section">
            <MudImage Src="https://unsplash.com/photos/your-image-id-2" Width="300" />
            <div>
                <MudText Class="font-cherry-bomb-one" Style="@($"color: {JordnaerPalette.Secondary}; font-size: 36px")">
                    Find eller skab et lokalt fællesskab
                </MudText>
                <MudText>
                    Deltag i eller opret en lokal gruppe for legestue, hjemmeundervisning og mere.
                </MudText>
                <MudNavLink Href="/groups">Lær mere</MudNavLink>
            </div>
        </MudSection>

        @* New Section 3: Mangler du pasning *@
        <MudSection Row="5" ColSpan="5" Class="flex-row-reverse hero-section">
            <MudImage Src="https://unsplash.com/photos/your-image-id-3" Width="300" />
            <div>
                <MudText Class="font-cherry-bomb-one" Style="@($"color: {JordnaerPalette.Primary}; font-size: 36px")">
                    Mangler du pasning?
                </MudText>
                <MudText>
                    Bor du i en del af Danmark hvor du ikke kan få dine børn passet, når der er behov?
                    Slå dig sammen med andre forældre om sampasning, legegruppe, privatdagpleje eller lignende.
                </MudText>
                <MudNavLink Href="/posts">Lær mere</MudNavLink>
            </div>
        </MudSection>

        @* New Section 4: Skab et opslag *@
        <MudSection Row="6" ColSpan="5" Class="flex-row-reverse hero-section">
            <MudImage Src="https://unsplash.com/photos/your-image-id-3" Width="300" />
            <div>
                <MudText Class="font-cherry-bomb-one" Style="@($"color: {JordnaerPalette.Primary}; font-size: 36px")">
                    Skriv et opslag
                </MudText>
                <MudText>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Praesent elementum nibh mauris. Morbi bibendum commodo faucibus.
                    Proin laoreet auctor erat. Duis vel mi euismod, finibus ex ut, sollicitudin diam.
                </MudText>
                <MudNavLink Href="/posts">Lær mere</MudNavLink>
            </div>
        </MudSection>

        @* New Section 5: Deltag i sport i dit nærområde *@
        <MudSection Row="7" ColSpan="5" Class="flex-row-reverse hero-section">
            <MudImage Src="https://unsplash.com/photos/your-image-id-3" Width="300" />
            <div>
                <MudText Class="font-cherry-bomb-one" Style="@($"color: {JordnaerPalette.Primary}; font-size: 36px")">
                    Deltag i sport i dit nærområde
                </MudText>
                <MudText>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Praesent elementum nibh mauris. Morbi bibendum commodo faucibus.
                    Proin laoreet auctor erat. Duis vel mi euismod, finibus ex ut, sollicitudin diam.
                </MudText>
                <MudNavLink Href="/posts">Lær mere</MudNavLink>
            </div>
        </MudSection>

    </MudHidden>

    @* MOBILE *@
    <MudHidden Breakpoint="Breakpoint.MdAndUp">

    </MudHidden>
</MudPage>
