<ul class="custom-list">
		<MudButton Color="_color" Class="@_buttonClass" Variant="_variant" Href="/groups?categories=Legegruppe">Find en legegruppe nær dig</MudButton>
		<MudButton Color="_color" Class="@_buttonClass" Variant="_variant" Href="/groups?categories=Hjemmeskole">Udforsk hjemmeskoler</MudButton>
		<MudButton Color="_color" Class="@_buttonClass" Variant="_variant" Href="/users?categories=Legeaftale">Arrangér en legeaftale</MudButton>
		<MudButton Color="_color" Class="@_buttonClass" Variant="_variant" Href="/users?categories=Privat%20Dagpleje">Led efter privat dagpleje</MudButton>
		<MudButton Color="_color" Class="@_buttonClass" Variant="_variant" Href="/personal/groups">Skab dit eget fællesskab</MudButton>
</ul>

<div class="d-flex justify-center align-center">
    <MudButton Href="/Account/Register" Class="mt-5" Variant="Variant.Filled" Color="Color.Success" Size="Size.Large">Vær' med!</MudButton>
</div>

@code {
    [Parameter]
    public bool IsMobile { get; set; }

	private string _buttonClass => IsMobile ? "mb-5 mx-2" : "mb-5 mx-10";
    private Variant _variant = Variant.Outlined;
    private Color _color = Color.Tertiary;
}