<!-- Logo  -->
<div class="hero-section-top">
    <MudImage fetchpriority="high" Height="150" Src="/images/minimoeder_logo.png" />
</div>

<!-- Links -->
<div class="hero-section-top">
    <MudToolBar Style="@($"color: {JordnaerPalette.RedHeader}; font-size: 20px;")">
        <Feature Name="@FeatureFlags.Posts">
            <MudNavLink Href="/posts" Class="d-none d-sm-flex">OPSLAG</MudNavLink>
        </Feature>
        <MudNavLink Href="/Account/Login" Class="hero-navbar-underline">VÆR' MED</MudNavLink>
        <MudNavLink Href="/groups">GRUPPER</MudNavLink>
    </MudToolBar>
</div>

<MudPage Row="2" Column="1" Height="440px">
    <MudSection Row="2" Column="1" Style="@($"background: {JordnaerPalette.BeigeBackground}")" />
    <MudSection Row="1" RowSpan="2" Column="1">
        <MudStack Class="mb-6" AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="0">
            <MudImage id="landing-page-center-image" fetchpriority="high" Src="/images/landing-page/nathan-dumlao-P5MXtYfgmmw-unsplash_cropped.webp" />
            <MudText Class="font-cherry-bomb-one" Style="@($"color: {JordnaerPalette.GreenBackground}; font-size: 32px")">
                Velkommen
            </MudText>
            <MudText Style="@($"color: {JordnaerPalette.RedHeader}; font-size: 18px; text-align: center")">
                Til mødestedet for børnefamilier
            </MudText>
        </MudStack>
    </MudSection>
</MudPage>

<MiniDivider Class="mt-9" Color="MiniDividerColor.Red" Center />

<MudContainer MaxWidth="MaxWidth.Medium">
    <div class="flex-column hero-section">
        <div class="content-section">
            <MudText Align="Align.Center" Class="font-cherry-bomb-one mb-3" Style="@($"color: {JordnaerPalette.YellowBackground}; font-size: 36px")">
                Hvad kan jeg bruge Mini Møder til?  
            </MudText>

            <LandingPageLinkComponent IsMobile/>

        </div>
    </div>
    <MiniDivider Color="MiniDividerColor.Red" Center />
</MudContainer>
