@page "/profile"

@inject ICategoryCache CategoryCache
@inject IProfileCache ProfileCache
@inject IProfileService ProfileService
@inject ISnackbar Snackbar

@attribute [Authorize]

<MetadataComponent Title="Redigér Profil" Description="Her kan du redigere din profil" />

<MudLoading @bind-Loading="_isLoading" Darken Overlap>
    @if (_userProfile is null)
    {
        return;
    }

    <MudContainer MaxWidth="MaxWidth.Large" Class="my-6">

        @* View Profile Link *@
        <div class="mb-6 d-flex justify-center">
            <MudButton Disabled="@(_userProfile.UserName is null)" Href="@($"/{_userProfile.UserName}")"
                Size="Size.Large" Color="Color.Info" Variant="Variant.Outlined"
                StartIcon="@Icons.Material.Filled.KeyboardArrowLeft" EndIcon="@Icons.Material.Filled.Person"
                Style="@($"{JordnaerPalette.BlueBody.ToTextColor()}; border-color: {JordnaerPalette.BlueBody}")">
                @(_userProfile.UserName is null
                                ? "Sæt et brugernavn for at gøre din profil offentlig"
                                : "Se hvordan andre ser din profil")
            </MudButton>
        </div>

        <EditForm Model="@_userProfile" OnValidSubmit="UpdateUserProfile">
            <DataAnnotationsValidator />

            @* Profile Picture & Basic Info *@
            <MudPaper Elevation="3" Class="pa-6 mb-6">
                <MudText Typo="Typo.h4" Class="mb-6"
                    Style="@($"color: {JordnaerPalette.RedHeader}; font-family: 'Cherry Bomb One', cursive; letter-spacing: 0.11em;")">
                    Din Profil
                </MudText>

                <div class="d-flex justify-center mb-6">
                    <UserProfilePicture @bind-UserProfile="_userProfile" />
                </div>

                <MudGrid Spacing="3">
                    <MudItem xs="12" sm="4">
                        <MudTextField Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AlternateEmail"
                            @bind-Value="@_userProfile.UserName" For="() => _userProfile.UserName" Label="Brugernavn"
                            Variant="Variant.Outlined" name="username" />
                    </MudItem>
                    <MudItem xs="12" sm="4">
                        <MudTextField @bind-Value="@_userProfile.FirstName" For="() => _userProfile.FirstName"
                            Label="Fornavn" Variant="Variant.Outlined" name="name" />
                    </MudItem>
                    <MudItem xs="12" sm="4">
                        <MudTextField @bind-Value="@_userProfile.LastName" For="() => _userProfile.LastName"
                            Label="Efternavn" Variant="Variant.Outlined" name="lastname" />
                    </MudItem>
                    <MudItem xs="12" sm="4">
                        <MudNumericField @bind-Value="@_userProfile.ZipCode" For="() => _userProfile.ZipCode"
                            Label="Postnummer" Variant="Variant.Outlined" name="zipcode" />
                    </MudItem>
                    <MudItem xs="12" sm="4">
                        <MudTextField @bind-Value="@_userProfile.City" For="() => _userProfile.City" Label="By"
                            Variant="Variant.Outlined" name="city" Placeholder="Aarhus C" />
                    </MudItem>
                    <MudItem xs="12" sm="4">
                        <MudDatePicker AdornmentColor="Color.Primary" @bind-Date="@_userProfile.DateOfBirth"
                            Color="Color.Primary" For="() => _userProfile.DateOfBirth" Label="Fødselsdato"
                            OpenTo="OpenTo.Year" PickerVariant="PickerVariant.Dialog"
                            Placeholder="@DateTime.Now.ToString("d")" Variant="Variant.Outlined" Rounded name="bday" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudSelectExtended ItemCollection="_categories.Select(e => e.Name).ToList()" T="string"
                            Label="Interesseret i" MultiSelection="true" Variant="Variant.Outlined"
                            SelectedValues="_userProfile.Categories.Select(e => e.Name)"
                            ValuePresenter="ValuePresenter.Chip" SelectedValuesChanged="SelectedCategoriesChanged" />
                    </MudItem>

                    <MudItem xs="12">
                        <TextEditorComponent
                            Placeholder="Du kan f.eks fortælle om dine interesser, uddannelse, familie, børnesyn, værdier og den slags."
                            Label="Beskrivelse" Text="@_userProfile.Description" @ref="_textEditorComponent" />
                    </MudItem>
                </MudGrid>
            </MudPaper>

            @* Save Button 1*@
            <div class="d-flex justify-center mb-6">
                <MudButton Size="Size.Large" StartIcon="@Icons.Material.Filled.Save" ButtonType="ButtonType.Submit"
                    Variant="Variant.Filled"
                    Style="@($"min-width: 300px; height: 48px; background-color: {JordnaerPalette.GreenBackground}; color: white;")">
                    Gem ændringer
                </MudButton>
            </div>

            <MiniDivider Color="MiniDividerColor.Blue" Center Class="my-6" />

            @* Children Section *@
            <MudPaper Elevation="3" Class="pa-6 mb-6">
                <MudText Typo="Typo.h4" Class="mb-6"
                    Style="@($"color: {JordnaerPalette.RedHeader}; font-family: 'Cherry Bomb One', cursive; letter-spacing: 0.11em;")">
                    Børn
                </MudText>
                <EditChildProfileTabs @bind-Parent="_userProfile" @ref="_editChildProfileTabsComponent">
                </EditChildProfileTabs>
            </MudPaper>

            @* Save Button 2 *@
            <div class="d-flex justify-center mb-6">
                <MudButton Size="Size.Large" StartIcon="@Icons.Material.Filled.Save" ButtonType="ButtonType.Submit"
                    Variant="Variant.Filled"
                    Style="@($"min-width: 300px; height: 48px; background-color: {JordnaerPalette.GreenBackground}; color: white;")">
                    Gem ændringer
                </MudButton>
            </div>
        </EditForm>

        <MiniDivider Color="MiniDividerColor.Green" Center Class="my-15" />

        @* Delete Account Section *@
        <MudPaper Elevation="3" Class="pa-6">
            <MudText Typo="Typo.h5" Class="mb-4"
                Style="@($"color: {JordnaerPalette.BlueBody}; font-family: 'Open Sans Medium', sans-serif;")">
                Kontohandlinger
            </MudText>

            <DeleteUserComponent />
        </MudPaper>

    </MudContainer>
</MudLoading>
@code {
    private bool _isLoading = true;
    private UserProfile? _userProfile;
    private IEnumerable<Category> _categories = Enumerable.Empty<Category>();

    private TextEditorComponent _textEditorComponent = default!;

    protected override async Task OnInitializedAsync()
    {
        if (!RendererInfo.IsInteractive)
        {
            return;
        }

        var userProfile = await ProfileCache.GetProfileAsync();
        if (userProfile is null)
        {
            Snackbar.Add(ErrorMessages.Something_Went_Wrong_Refresh,
            Severity.Warning);
            _isLoading = false;
            return;
        }

        _userProfile = userProfile;

        _isLoading = false;

        _categories = await CategoryCache.GetOrCreateCategoriesAsync();
    }

    private async Task UpdateUserProfile()
    {
        _isLoading = true;

        if (_userProfile is null)
        {
            Snackbar.Add(ErrorMessages.Something_Went_Wrong_Try_Again, Severity.Error);
            _isLoading = false;
            return;
        }

        _userProfile.Description = await _textEditorComponent.GetHtmlAsync();
        await _editChildProfileTabsComponent.UpdateChildProfileDescriptions();

        var updateProfileResult = await ProfileService.UpdateUserProfile(_userProfile);
        updateProfileResult.Switch(
        success =>
        {
            Snackbar.Add("Din profil er blevet opdateret!", Severity.Success);
            ProfileCache.SetProfile(success.Value);
        },
        _ => Snackbar.Add(ErrorMessages.Something_Went_Wrong_Try_Again, Severity.Error));

        _isLoading = false;
    }

    private void SelectedCategoriesChanged(IEnumerable<string> categories)
    {
        _userProfile!.Categories = _categories.Where(e => categories.Contains(e.Name)).ToList();
    }

    private EditChildProfileTabs _editChildProfileTabsComponent = default!;
}