@if (Center)
{
    <div class="d-flex justify-center align-center">
        <MudImage Src="@Src" Alt="Dotted line" Class="@Class" Style="@Style" />
    </div>
}
else
{
    <MudImage Src="@Src" Alt="Dotted line" Class="@Class" Style="@Style" />
}

@code {
    [Parameter]
    public string? Class { get; set; }
    [Parameter]
    public string? Style { get; set; }
    [Parameter]
    public required MiniDividerColor Color { get; set; }
    [Parameter]
    public bool Center { get; set; } = false;

    private string Src => $"/images/dotted-line-{Color.ToString().ToLower()}.png";
}
