@page "/terms"

@inherits ScrollToTopComponentBase

<MetadataComponent Title="Servicevilkår" Description="Servicevilkår for Mini Møder" />

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper Elevation="3" Class="pa-10 mt-5" Style="@JordnaerPalette.WarmWhite.ToBackgroundColor()">

        <h1 class="font-cherry-bomb-one" style="@JordnaerPalette.BlueBody.ToTextColor()">
            Servicevilkår
        </h1>

        <MudDivider Class="mt-1 mb-5" />

        <MudText Typo="Typo.h5" Style="@JordnaerPalette.RedHeader.ToTextColor()">1. Accept af vilkår</MudText>
        <MudText Typo="Typo.body1">
            Ved at bruge Mini Møder accepterer du disse servicevilkår. Hvis du ikke accepterer disse vilkår, bedes du
            ikke bruge vores tjenester.
        </MudText>

        <MudText Typo="Typo.h5" Class="mt-5" Style="@JordnaerPalette.RedHeader.ToTextColor()">2. Tjenester</MudText>
        <MudText Typo="Typo.body1">
            Vi leverer en platform hvor forældre kan oprette forbindelser og arrangere sociale aktiviteter for deres
            børn, såsom legeaftaler og hjemmeskoleaktiviteter. Vi er ikke ansvarlige for de enkelte aktiviteter eller
            grupper og kan ikke garantere deres kvalitet eller sikkerhed.
        </MudText>

        <MudText Typo="Typo.h5" Class="mt-5" Style="@JordnaerPalette.RedHeader.ToTextColor()">3. Brugeradfærd</MudText>
        <MudText Typo="Typo.body1">
            Du accepterer at bruge vores tjenester på en ansvarlig og lovlig måde. Du må ikke chikanere, true eller
            diskriminere andre brugere eller opfordre til ulovlige aktiviteter.
        </MudText>

        <MudText Typo="Typo.h5" Class="mt-5" Style="@JordnaerPalette.RedHeader.ToTextColor()">4. Ændringer i vilkår
        </MudText>
        <MudText Typo="Typo.body1">
            Vi forbeholder os ret til at ændre disse servicevilkår når som helst. Hvis vi foretager væsentlige
            ændringer, vil vi give dig besked på vores hjemmeside.
        </MudText>

        <Bees Class="mt-8" Center />

    </MudPaper>
</MudContainer>
