@inject NavigationManager Navigation

<MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper Elevation="3" Class="pa-10 mt-5">
        <p class="font-open-sans-light" style="color: @JordnaerPalette.RedHeader; font-size: 20px;">
            Find Grupper nær dig
	    </p>

        <MudDivider Class="mb-5 mt-1" />

        <EditForm OnValidSubmit="@OnValidSubmit" Model="Filter">

            <MudGrid Justify="Justify.SpaceAround" Spacing="3">

	            <MudItem xs="8">
		            <ZipCodeAutoComplete 
			            For="() => Filter.Location" 
			            Location="@Filter.Location" 
			            LocationChanged="LocationChanged" />
	            </MudItem>
	            <MudItem xs="4">
		            <MudNumericField For="() => Filter.WithinRadiusKilometers"
		                             @bind-Value="Filter.WithinRadiusKilometers"
		                             Label="km"
		                             Placeholder="Radius">
		            </MudNumericField>
	            </MudItem>

                <MudItem xs="12">
                    <CategorySelector @bind-Categories="Filter.Categories" />
                </MudItem>
                
                <MudItem xs="12">
	                <MudTextField @bind-Value="Filter.Name" Placeholder="Gruppenavn" Label="Søg på navn" Clearable/>
                </MudItem>

                <MudItem xs="12" sm="11" md="10" lg="9" xl="8"  Class="mt-8">

	                <MudButtonGroup OverrideStyles="false" Style="width: 100%;">
		                <MudButton FullWidth
		                           Variant="Variant.Filled"
		                           Color="Color.Success"
		                           ButtonType="ButtonType.Submit">
			                <MudIcon Icon="@Icons.Material.Filled.Search" />
		                </MudButton>
		                <MudButton OnClick="ClearFilter"
		                           Color="Color.Transparent"
		                           Variant="Variant.Filled"
		                           ButtonType="ButtonType.Reset">
			                <MudIcon Icon="@Icons.Material.Filled.Clear" />
		                </MudButton>
	                </MudButtonGroup>

                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudContainer>

@code
{
    [Parameter]
    public required GroupSearchFilter Filter { get; set; }

    [Parameter]
    public EventCallback<GroupSearchFilter> FilterChanged { get; set; }

    [Parameter]
    public required EventCallback OnValidSubmit { get; set; }

    private async Task ClearFilter()
    {
        Filter = new GroupSearchFilter();
        await FilterChanged.InvokeAsync(Filter);

        var uriWithQuery = new Uri(Navigation.Uri);
        var uriWithoutQuery = uriWithQuery.GetLeftPart(UriPartial.Path);

        Navigation.NavigateTo(uriWithoutQuery);
    }

    private void LocationChanged(string location)
    {
        Filter.Location = location;
        Filter.WithinRadiusKilometers ??= 10;
    }
}
