<!DOCTYPE html>
<html lang="da">

<head>
    <MetadataComponent Title="Mini Møder" Description="Et online mødested for børnefamilier"
        Tags="minimøder, mini møder, socialmedia, homeschooling, playdate, playgroup, village, community, socialtmedia, hjemmeskole, hjemmepasning, legeaftale, legegruppe, landsby, fællesskab, trivsel, netværk, børnefamilie, legestue, unschooling, børn, forældre" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <base href="/" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#878e64">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="og:title" content="Mini Møder" />
    <meta name="og:description" content="Et online mødested for børnefamilier" />
    <meta name="og:image" content="@Assets["images/minimoeder_logo_payoff_ogimage.png"]" />
    <meta name="og:locale" content="da_DK" />

    <meta name="google-site-verification" content="_2XlYiQaPnb6j4QvZhJPB-XwnnQKOkpzs_hmU3EHY8g" />
    <meta name="facebook-domain-verification" content="ispr6bue0cvuoatohe859eubl32ujh" />

    @* Font preloading - reduces FOUT *@
    <link rel="preload" href="@Assets["fonts/OpenSans-Light.ttf"]" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="@Assets["fonts/OpenSans-Medium.ttf"]" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="@Assets["fonts/OpenSans-Bold.ttf"]" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="@Assets["fonts/CherryBombOne-Regular.ttf"]" as="font" type="font/ttf" crossorigin />

    @* Framework CSS - loaded first *@
    <link rel="stylesheet" href="@Assets["bootstrap/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css"]" />

    @* Custom CSS - loaded after frameworks for proper override cascade *@
    <link rel="stylesheet" href="@Assets["css/fonts.css"]" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["css/landing-page.css"]" />
    <link rel="stylesheet" href="@Assets["css/account-forms.css"]" />
    <link rel="stylesheet" href="@Assets["css/chat.css"]" />
    <link rel="stylesheet" href="@Assets["Jordnaer.styles.css"]" />

    @* Leaflet.js for map search functionality *@
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="" />

    <ImportMap />

    <HeadOutlet @rendermode="RenderModeForPage" />

    @*<GrafanaFaro />*@
</head>

<body>
    @*TODO: Add loading image*@
    <Routes @rendermode="RenderModeForPage" />

    @*
    Start and reconnection logic based on:
    https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/signalr?view=aspnetcore-7.0#automatically-refresh-the-page-when-server-side-reconnection-fails
    *@
    <div id="reconnect-modal" style="display: none;"></div>
    <script src="@Assets["_framework/blazor.web.js"]" autostart="false"></script>
    <script src="@Assets["js/boot.js"]"></script>

    <script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>
    <script async src="@Assets["js/scroll.js"]"></script>
    <script async src="@Assets["js/geolocation.js"]"></script>
    <script async src="@Assets["js/utilities.js"]"></script>
    <script async src="@Assets["js/quill-loader.js"]"></script>
    <script async src="@Assets["_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"]"></script>

    @* Leaflet.js for map search functionality *@
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
    <script src="@Assets["js/leaflet-interop.js"]"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
    ? null
    : InteractiveServer;
}